* {
    font: 1em/1.3 Arial, Helvetica, sans-serif;
}

p {
    color: #ff0000;
}

a {
    color: #CC3300;
}

#primero p {
    color: #336699;
}

#primero em {
    background: #fbd0dd;
    padding: .1em;
}

.normal span {
    font-weight: bold;
}

em.especial {
    background: #FFCC99;
    border: 1px solid #FF9900;
    padding: .1em;
}